@import "mq";
@import "fonts";
@import "palette";
$gs-baseline: 12px;
$gs-gutter: 10px;


.content__main-column--interactive {
    & > p, & > h2, sup, .element-interactive,.element-atom, .element-image {
        max-width: 620px;

        @include mq(leftCol) {
            margin-left: 160px !important;
        }
        @include mq(wide) {
            margin-left: 240px !important;
        }
    }

    & > h2 {
    	font-family: "Guardian Egyptian Web", Georgia;
    	font-size: 36px;
    	line-height: 42px;
    	font-weight: 200;
    	color: #333;
    	margin-top: 36px;
    	margin-bottom: 6px;
    }

    .element--immersive {
    	max-width: initial;
    	margin-left: 0 !important;
        margin-bottom: 36px !important;
    }
    .element--supporting {
      border-top: none;
      border-bottom: none;
    }

    figure.element--supporting {
      float: left;
      max-width: 380px;

      @include mq(leftCol) {
          margin-left: 0px !important;
      }
    }

    .element--showcase {

    }
    a {
      color: $feature-gold;
    }
}
.gs-container {
  &:before {
          position: absolute;
          top: -28px;
          bottom: -$gs-baseline * 2;
          left: -$gs-gutter;
          width: 1px;
          background-color: $neutral-7;
          content: '';
          display: none;
          @include mq($from: leftCol) {
              display: block;
              bottom:0;
          }
          @include mq(leftCol) {
              margin-left: 180px !important;
          }
          @include mq(wide) {
              margin-left: 260px !important;
          }
      }

}
.gs-container:first-of-type .content__meta-container {
  z-index: 10000;
  position: absolute !important;
  top: -72px;
  @include mq($from: leftCol) {
    top: -46px;
    left: -160px;
  }
  @include mq($from: wide) {
      left: -240px;
      max-width: 220px;
  }
  .meta__extras  {
    display: block;
    border-bottom: none;
    border-top: none;
  }
  .social--expanded-top {
    background: none;
  }
  .meta__social {
    display: block;
    width: 100%;
    position: relative;
  }
  .meta__numbers {
    @include mq($from: leftCol) {
      display: block;
      position: relative;
      width: 100%;
      // background-image: repeating-linear-gradient(to bottom, #dcdcdc, #dcdcdc 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
      // background-repeat: repeat-x;
      // background-position: top;
      // background-size: 0.0625rem 0.0625rem;
      border-top: 0;
      padding-top: $gs-baseline / 2;
      right: 0;
      top: 0;
      margin-right: 0;
    }
  }
  .meta__numbers .sharecount__heading,
  .meta__numbers .sharecount__value {
    color: $highlight-yellow;
      @include mq($from: leftCol) {
        color: $culture-gold;
      }
  }
  .block-share__item,
    .inline-close,
    .social-icon,
    .social-icon.social-icon--more {
        background-color: transparent;
        border: 1px solid $highlight-yellow;

        &:focus,
        &:hover {
            svg {
                fill: $neutral-7;
            }
        }
    }

  .block-share__item .inline-icon,
      .inline-close svg,
      .commentcount2__heading span,
      .old-article-message .old-article-message--clock svg,
      .social-icon svg,
      .social-icon__svg {
          fill: $highlight-yellow;
      }

      .block-share__item,
      .meta__twitter a,
      .social-icon,
      .social-icon.social-icon--more {
          &:focus,
          &:hover {
              background-color: $highlight-yellow;
              border: 1px solid $highlight-yellow;
          }
      }
}

.l-side-margins::before,
.l-side-margins::after {
  background: white;
}

.content__main-column {


  }

  .byline-test {
    display: block;
    background: green;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
  }



.content__head, .article__header  {
  background-color: blue;
  height: 90vh;
  margin: 0 auto;
}
// Background Image //
.content__head::before  {
  display: block;
  background-color: #111111;
  height: 90vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  @include mq($from: tablet) {
    z-index: 2;
  }
}
.content__head::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-image: url('<%= path %>/assets/cover-image-mobile.png');
  background-position: center;
  background-size:cover;
  height: 222px;
  width: 300px;
  position: absolute;
  left: 10px;
  top: 10vh;
  z-index: 2;
  @include mq($from: mobileMedium) {
    left: 20px;
    width: 340px;
    height: 251px;
  }
  @include mq($from: mobileLandscape) {
    left: 20px;
    width: 460px;
    height: 340px;
  }
  @include mq($from: tablet) {
    background-image: url('<%= path %>/assets/cover-image-desktop.png');
    background-size: contain;
    height: 60vh;
    top: 5vh;
    width: 100%;
    left: 0;
  }
  @include mq($from: wide) {
    height: 70vh;

  }
}
.content__headline {
  height: 70vh;
}

.content__standfirst {
  z-index: 5;
  color: white;
  position: absolute;
  bottom: 40px;
  @include fs-headline(3);
  font-weight: 200;
  @include mq($from: tablet) {
    left: -140px;
    bottom: -20px;
  }
  @include mq($from: desktop) {
    left: -100px;
  }
  @include mq($from: leftCol) {
    left: 0px;
    bottom: -80px;
  }
}

// Drop cap //
sup {
  display: inline-block;
  position: absolute;
  z-index: -100;
  background-image: url('<%= path %>/assets/E.svg') !important;
  opacity: 0.8;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 138px;
  width: 108px;
  top: -52px;
  left: -10px;
  margin-right: 4px;
}

p:first-of-type {
  margin-top: 28px;
}

// Image //
.element-image__caption {
  background: $highlight-yellow;
  padding: 2px 4px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.element-image__credit {
  background: $neutral-100;
  padding: 5px 4px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  color: black;
  font-size: 10px;
}

.element-image {
  img {
    width: 100%;
    height: 100%;
  }
  figcaption {
    position: absolute;
    display: inline-block;
    bottom: -10px !important;
    width: 300px;
    @include fs-textSans(3);
    line-height: 18px;
    @include mq($from: tablet) {
      width: 50%;
      top: 332px !important;
    }
  }
}

.element--showcase {

  img {
    margin-left: 10px;
    @include mq($from: tablet) {
    padding-left: 0px;
    }
    @include mq($from: leftCol) {
      margin-left: -30px;
      width: 652px;
      height: 100%;
    }
    @include mq($from: wide) {
      margin-left: -30px;
    }
  }

  figcaption {
    position: absolute;
    display: inline-block;
    top: 100px !important;
    right: 0px;
    width: 144px;
    @include fs-textSans(3);
    line-height: 18px;
    @include mq($from: tablet) {
      top: 180px !important;
      right: -20px !important;
    }

  }

  // arrow

  .element-image__caption {

    strike {
      display: inline-block;
      color: transparent;
      position: absolute;
      transform: rotate(40deg) scaleX(-1);
      background-image: url('<%= path %>/assets/arrow.png') !important;
      background-size: contain;
      background-repeat: no-repeat;
      width: 75%;
      height: 75%;
      top: -70px;
      right: 20px;
      @include mq($from: tablet) {
        width: 120%;
        height: 120%;
        right: 160px;
        top: -110px;
      }
    }
  }
}

// Quotes //
blockquote.quoted {
    p {
      font-size: 24px;
      font-family: "Guardian Egyptian Web",Georgia,serif;
      font-weight: 200;
      color: #333333;
      line-height: 27px;
      margin-bottom: 36px;
      margin-top: 12px;
      float: left;
      height: 100%;
      padding-left: 20px;
      padding-top: 6px;
      padding-right: 20px;
      padding-bottom: 120px;
      position: relative;
      z-index: 2;

      @include mq($from: mobileMedium) {
        padding-bottom: 220px;
        padding-top: 12px;
        padding-right: 40px;

      }

      @include mq($from: mobileLandscape) {
        width: 232px;
        padding-left: 0px;
        padding-top: 6px;
        padding-right: 40px;
        padding-bottom: 32px;
      }

      @include mq($from: leftCol) {
        font-size: 26px;
        line-height: 28px;
        width: 240px;
        padding-right: 40px;
        padding-bottom: 32px;
        margin-left: 160px;
      }

      @include mq($from: wide) {
        padding-right: 40px;
        padding-bottom: 0px;
        margin-left: 20px;
      }

      strong {
        display: block;
        color: $culture-gold;
      }
    }
}

blockquote.quoted:after {
    content: '';
    display: block;
    background-image: url('<%= path %>/assets/speechbubbleA.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    @include mq($from: mobileLandscape) {
      width: 290px;
      left: -20px;
    }
    @include mq($from: leftCol) {
      width: 290px;
      left: 140px;
    }
    @include mq($from: wide) {
      width: 290px;
      left: 0px;
    }
  }

  p.byline {
  font-weight: 200;
  a {
    color: $feature-gold;
  }
}
// ios & android //
.prose {
  blockquote.quoted::after {
  font-size: 0em;
  display: none;
  }

  figcaption {
    display: none;
  }
  .element-image__caption {
    display: none;
  }
  p:first-of-type {
    margin-top: 0px;
  }
  blockquote.quoted p {
    padding-bottom: 0px;
  }
  blockquote::before {
    color: $culture-gold;
  }
}

  .article__header::before {
  content: "";
  display: block;
  background-color: #111111;
  background-repeat: no-repeat;
  background-image: url('<%= path %>/assets/cover-image-mobile.png');
  background-position: center;
  background-size: contain;
  height: 90vh;
  width: 100%;
  position: absolute;
  z-index: 40;
}
